/src/CourseProjectOS/nbproject/private/
/src/CourseProjectOS/build/
/src/CourseProjectOS/dist/
/src/MethodsForSchedules/nbproject/private/
/src/MethodsForSchedules/dist/
/src/MethodsForSchedules/build/
/src/Help/nbproject/private